* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

.control_btns {
  background-color: rgba(174, 181, 185, 0.5);
  // opacity: 0.5;
  border-radius: 7px;
  padding: 13px 15px;
  color: #fff;
  font-weight: 900;
}

.notactive_btn {
  opacity: 0.4;
}
